<!doctype html>
<html lang="en" class="page-{{ page.fileSlug }}">
  {% include 'head.liquid' %}
  <body class="layout">
    {{ content }}
    <script src="/assets/js/script.js"></script>
  </body>
</html>
